body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover{
  color: white;
  background-color: green;
}

.btn::before{
  content: "Pasa por encima";
}

.btn:hover::before{
  content: "Hecho";
}
